.internship {
    padding: 10px;

    &-container {
        background-color: transparent;
        color:white;
        padding: 15px;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        margin: 10px;

        &-main {
            display: flex;
            justify-content: center;
        }

        &-right {
            margin-left: 3rem;
        }
    }

    &-title {
        color: rgb(115, 56, 255);
        font-weight: bold;
        font-size: 18px;
        border-radius: 5px;
        border-bottom: 1px solid rgb(179, 141, 141);
    }

    &-company {
        color: #8dbfe3;
        font-size: 16px;
        font-style: italic;
    }

    &-image {
        width: 8rem;
        background-color: white;
    }
}

@media screen and (max-width: 1100px) {
    .internship-container-main {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 650px) {
    .internship-container {
        flex-direction: column;
        align-items: center;

        &-right {
            margin-left: 0rem;
        }
    }
}
