.focus {
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
    
  }
}

.card-title {
  font-size: 2em;
  font-weight: 700;
}

.image-style {
  width: 3em;
}

.font-details {
  font-size: 3em;
  font-weight: 500;
  color: #231d5af8;

  &-b {
    font-size: 3rem;
    font-weight: 500;
    color: rgb(238, 135, 135);
    margin-top: 2rem;
  }
}

#skills {
  padding: 10px;
  color: black;
  
}

.skills {
 
  &-container-main {
    display: flex;
    justify-content: center;
    
  }

  &-title {
    text-transform: uppercase;
    color: white;
    border-bottom: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 26px;
    letter-spacing: 2px;
    border-color: white;

  }

  &-container {
    background-color: transparent;
   
    &-left {
      width: 33%;
      margin: 20px;
      padding: 20px;
      border-radius: 10px;
      border-style: solid;
      border-color: whitesmoke;
    }

    &-center {
      width: 33%;
      padding: 10px;
      

      &-up {
        padding: 10px;
        border-radius: 10px;
        border-style: solid;
      border-color: whitesmoke;
      }

      &-down {
        padding: 10px;
        border-radius: 10px;
        margin-top: 2rem;
        border-style: solid;
        border-color: whitesmoke;
      }
    }

    &-right {
      width: 33%;
      padding: 20px;
      border-style: solid;
     
      &-up {
        padding: 20px;
        border-radius: 10px;
      }

      &-down {
        padding: 20px;
        border-radius: 10px;
        margin-top: 2rem;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .skills-container-main {
    flex-direction: column;
    align-items: center;
  }

  .skills-container-left {
    width: 90%;
  }

  .skills-container-center {
    width: 90%;
    
  }

  .skills-container-right {
    width: 90%;
  }
}
